@font-face {
   font-family: 'bogart-semibold-webfont';
   font-display: swap;
   src: url('file:///C:/Users/alexa/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-11-13_092716/fonts/bogart-semibold-webfont/font.woff');
}
